<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>JS FileReader</title>
</head>
<body>
<form action=""></form>
  <input type="file" />

  <script src="index.js" charset="utf-8"></script>
</body>
</html>